<form [formGroup]="questionForm"  (ngSubmit)="question()" autocomplete="off">
    <div class="form-group">
        <label for="question">Questions</label>
        <textarea type="text-area" class="form-control" formControlName="question" placeholder="Question" rows="3">

        </textarea>
       
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Share</button>
        <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>

    </div>
    
</form>




  
