
          <div class="container card text-white bg-dark mb-3 mt-5" style="max-width: 80rem;">
            <!-- <div class="card-header">Teen App is the only dating app that matches you on what matters to you.
                You deserve to find who you’re looking for.</div> -->
            <div class="card-body">
              <h5 class="card-title">Teen App is the only dating app that matches you on what matters to you.
                You deserve to find who you’re looking for.</h5>
                <hr>
              <p class="card-text">here you're going to find men and women ready for fun! Sign up quickly on our site and quickly find a pleasant partner.
                Members of our site are open-minded and craving for new adventures.
                Here you will be able to fulfil any fantasies you might have! With our advanced search options and a big user base everyone will find someone perfect. 
                We also expect all our members to respect each other's privacy at all costs, so you don't have to worry about the disclosure of secret adventures. 
                Teen App is reliable, rewarding, and exciting.</p>
            </div>
          </div>
         