<div class="row" >
    <div class="col-4">
        <h1 class="text-center mb-1" id="h1">{{member.knownAs | titlecase}}</h1>
        <div class="card ml-3 mb-3"><img class="card-img img-thumbnail" src="{{member.photoUrl || './assets/user.png'}}"
                alt="{{member.knownAs}}">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member Sinse:</strong>
                    <p>{{member.created | date: 'longDate'}}</p>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-outline-success" (click)="selectTab(3)">Message</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 mt-3">
        <tabset #memberTabs class="member-tabset">
            <tab (selectTab)="onTabActivated($event)" class="ml-3" heading="About {{member.knownAs}}">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <hr>
                <h4>LookingFor</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab (selectTab)="onTabActivated($event)" class="ml-3" heading="Interests">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab (selectTab)="onTabActivated($event)" class="text-center" heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab (selectTab)="onTabActivated($event)" class="ml-3 " heading="Messages">
                <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>
