<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary mt-4">Sign Up</h2>
    <br>

    <div class="form-group">
        <label class="form-lable mr-3">I am a:</label>
        <label class="radio-inline mr-3">
            <input type="radio" value="male" formControlName="gender" > Male
        </label>
        <label class="radio-inline mr-2">
            <input class-="ml-4" type="radio" value="female" formControlName="gender" > Female
        </label>
    </div>
    
    <app-text-input formControlName="username" label="Username"></app-text-input>
    <!-- component אחר של ה date -->
    <app-date-input formControlName="dateOfBirth" label="dateOfBirth" [maxDate]="maxDate"></app-date-input>
    <app-text-input formControlName="knownAs" label="knownAs"></app-text-input>
    <app-text-input formControlName="city" label="city"></app-text-input>
    <app-text-input formControlName="country" label="country"></app-text-input>
    <app-text-input formControlName="password" label="Password" type="password"></app-text-input>
    <app-text-input formControlName="confirmPassword" label="Confirm Password"  type="password"></app-text-input>
    <br>

    <div class="row mt-5" *ngIf="validationErrors.length">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
      </div>

<div class="form-group text-center">
    <button [disabled]="registerForm.invalid" class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>

</div>
    
</form>

<p>Form value:{{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status}}</p>
