<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary mt-4">Sign Up</h2>
    <br>

<div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
    <div class="container">
       <div class="form-group">
            <label class="form-lable mr-3">I am a:</label>
            <label class="radio-inline mr-3">
            <input type="radio" value="male" formControlName="gender" > Male
            </label>
            <label class="radio-inline mr-2">
            <input class-="ml-4" type="radio" value="female" formControlName="gender" > Female
            </label>
       </div>
    
       <i class="fa fa-user"></i><app-text-input formControlName="username" label="Username"></app-text-input>
      <i class="fa fa-calendar"></i><app-date-input formControlName="dateOfBirth" label="dateOfBirth" [maxDate]="maxDate"></app-date-input>
      <i class="fa fa-user"></i><app-text-input formControlName="knownAs" label="knownAs"></app-text-input>
      <i class="fa fa-building"></i><app-text-input formControlName="city" label="city"></app-text-input>
      <i class="fa fa-flag"></i><app-text-input formControlName="country" label="country"></app-text-input>
      <i class="fa fa-lock"></i><app-text-input formControlName="password" label="Password" type="password"></app-text-input>
      <i class="fa fa-lock"></i><app-text-input formControlName="confirmPassword" label="Confirm Password"  type="password"></app-text-input>
      <br>

      <div class="row mt-5" *ngIf="validationErrors.length">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
          </ul>
      </div>

     <div class="form-group text-center">
        <button [disabled]="registerForm.invalid" class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>

     </div>
  </div>
</div>
    
</form>

