.radio-inline{
    color: #593196;
    font-size: 1.2rem;
    font-weight: bold;
}
.form-lable{
    color: #593196;
    font-size: 1.5rem;
    font-weight: bold;
}
.fa{
    color: #593196;
}
.card{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}