<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary">
  <div class="container">
  <a class="navbar-brand" routerLink="/">Teen App</a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="currentUser$ | async" >
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/lists">Lists</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/messages" >Messages <span class="badge badge-pill badge-danger " ngDefaultControl name="badge" [hidden]="badge == 0" [ngModel]="badge" >{{badge}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/questions">Questions</a>
      </li>
      </ng-container>
      
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/videos">Videos</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/meetings">Meetings</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/errors">Errors</a> 
      </li>

       <form *ngIf="(currentUser$ | async)" #searchForm="ngForm" class="form-inline my-2 my-lg-0 ml-5" (ngSubmit)="SearchMember(searchForm)" >
        <input name="username" [(ngModel)]="searchUser" class="form-control mr-sm-2 search" type="search" placeholder="Search Member" aria-label="Search">
        <button class="btn  my-2 my-sm-0" type="submit"  ><i class="fa fa-search"></i> Search</button>
      </form>
      
    </ul>

    <div class="dropdown" *ngIf="currentUser$ | async as user"dropdown>
      <img class="img" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light" dropdownToggle >
        Wellcome {{user.knownAs | titlecase}}
      </a>
    
      <ul class="dropdown-menu mt-3" *dropdownMenu >
        <li><a class="dropdown-item" routerLink="/member/edit">Edit Profile</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <form *ngIf="!(currentUser$ | async)" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
       <!-- ngModel זה tow way biding שינוי במודיל יגרום לשינוי בשדה ולהפך -->
       <!-- name יהיה ה property של ה ngForm -->
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="UserName">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
      <button class="btn  my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
  <!-- </div> -->
</nav>
