.dropdown-item, .dropdown-toggle{
    cursor: pointer;
}
.img{
    max-height: 50px;
    border: 2px solid #ddd;
    display: inline;
    margin-right: 1rem;
    border-radius: 50%;
}

.search{
    background-color: lightgrey;
    
}
