<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary">
  <div class="container">
  <a class="navbar-brand" routerLink="/">Dating App</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="currentUser$ | async" >
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/members">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/lists">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/messages" >Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/questions">Questions</a>
      </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/videos">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/meetings">Meetings</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/errors">Errors</a> 
      </li>
      
    </ul>

    <div class="dropdown" *ngIf="currentUser$ | async as user"dropdown>
      <img class="img" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light" dropdownToggle >
        Wellcome {{user.username | titlecase}}
      </a>
    
      <ul class="dropdown-menu mt-3" *dropdownMenu >
        <li><a class="dropdown-item" routerLink="/member/edit">Edit Profile</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <form *ngIf="!(currentUser$ | async)" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
       <!-- ngModel זה tow way biding שינוי במודיל יגרום לשינוי בשדה ולהפך -->
       <!-- name יהיה ה property של ה ngForm -->
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="UserName">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
  <!-- </div> -->
</nav>
